<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" >
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} | %-5level | %t | %class{36}.%M()_%L: %msg%xEx%n"/>
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
        </Console>
    </appenders>
    <loggers>
        <logger name="com.douyu" level="INFO" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <root level="WARN">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>